.sys-messages {
     display: block;
     font-size: 22px;
     background: #eaeaea;
     line-height: 50px;
     padding: 0 20px;
     position: relative;
}
.sys-messages.success {
     color: limegreen;

}
.sys-messages.error {
     color:red;
}
span.closer {
     cursor: pointer;
     position: absolute;
     top: 0px;
     right: 20px;
}
ul.menu a {
     font-size:18px;
     color:black!important;
}
ul.menu a.active {
     font-weight: 600;
}
